<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Chat Web Application</title>

	<!-- 부트스트랩 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Codigm intern task</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form action="/login" method="post" class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" name ="username" placeholder="Email" class="form-control">
					</div>
					<div class="form-group">
						<input type="password"  name ="password" placeholder="Password" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				</form>
			</div>
			<!--/.navbar-collapse -->
		</div>
	</nav>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1>WELCOME!</h1>
			<p>This Homepage belongs to INT-222 project</p><p> node.js, mongoDB, soket.io, bootstrap, jquery are to understand, learn and implement functions.</p>
			<p>Please click the button below to register as a member..</p>
			<p><a class="btn btn-primary btn-lg" href="/register" role="button">Sign up &raquo;</a></p>
		</div>
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>Login</h2>
				<p>Provides a login function.</p><p>User's own session is saved and used.</p>
        <p><a class="btn btn-default" href="/login" role="button">log in &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>Upload</h2>
				<p>Provides file upload function.</p><p>The saved files are written to the db and can be checked after refreshing or logging out.</p>
        <p>(You can receive features when you log in.)</p>
			</div>
			<div class="col-md-4">
				<h2>Chating</h2>
				<p>Provides a chat service.</p><p> It provides chat service through broad casting method through socket.io.</p>
				<p>(You can receive features when you log in.)</p>
			</div>
		</div>

		<hr>

	</div>
	<!-- /container -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), include each file you need if you don't want it -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>
